.M3-classespage {
    margin-top: 10vh;
    width: 100%;
  }
  


  
  .tr {
    display: table-row;
  }
  .M3-table-info {
    padding: 10px;
    text-align: left;
    font-weight: bold;
    border: 1px solid black;
   
  }
  .M3-table-info2 button{
    display: inline-block;
  }

  .M3-table-info1,
  .M3-table-info2 {
    padding: 10px;
    text-align: left;
    font-weight: bold;
    border: 1px solid black;

  }
  tr.tr:first-child {
    border: none;
  }
  
  .M3-addclass-button {
    display: inline-block;
   justify-content: right;
    padding: 10px 20px;
    background-color: #0a79df;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    width: 10vw
;
  }

 
  

  .M3-delete-classes {
    display: inline-block;
    padding: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    margin-right: 5px;
  }
  
  .M3-edit-classes {
    display: inline-block;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
  }
  
  .modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
  }
  
  .modal-content label {
    display: block;
    margin-bottom: 5px;
  }
  
  .modal-content input,
  .modal-content select {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .modal-content button[type="submit"],
  .modal-content button[type="button"] {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
  }

  .M3-button{
    text-align: right;
  }
  
  .modal-content button[type="submit"]:hover,
  .modal-content button[type="button"]:hover {
    background-color: #0b7dda;
  }
  
  .M3-profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .M3-header {
    background-color: #eeefee;
    height: 6.5vw;
    display: flex;
  }
  
  .M3-header h1 {
    padding-left: 20px;
    padding-top: 1vw;
    color: blue;
  }
  
  .M3-sidebar-container {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    background-color: white;
    width: 20%;
    border-right: 1px solid black;
    width: 100%;
  }
  
  .M3-sidebar-buttons {
    width: 100%;
    font-size: 1.5vw;
    margin: 0;
    height: 100px;}
 
        
        
        .M3-table-classes {
            margin-left: 5%;
        width: 80%;
        border-collapse: collapse;
        text-align: left;
        font-size: 1.2vw;
        color: #163951;
        background-color: white;

            border-color: gray;
            
        }
     

        
        .M3-table-classes th, .M3-table-classes td {
        padding: 8px;
        }
        
        .M3-table-info1 {
        display: flex;
        align-items: center;
        }
        
        .M3-delete-classes {
        background-color: white;
        color: #ff0000;
        font-weight: bold;
        border:#ff0000 solid 1px;
        padding: 5px 10px;
        border-radius: 5px;
        margin-right: 5px;
        }
        
        .M3-delete-classes:hover {
        background-color: #888;
        }
        
        .M3-edit-classes {
        background-color: #0a79df;
        color: white;
        font-weight: bold;
        border: #0a79df solid 1px;;
        padding: 5px 10px;
        border-radius: 5px;
        }
        
        .M3-edit-classes:hover {
        background-color:#888;
        }
        
        .modal {
        display: block;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
        }
        
        .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
        }
        
        .modal-content label {
        display: block;
        margin-bottom: 10px;
        }
        
        .modal-content input, .modal-content select {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        }
        
        .modal-content button[type="submit"], .modal-content button[type="button"] {
        background-color: #0a79df;
        color: white;
        font-weight: bold;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        margin-top: 10px;
        cursor: pointer;
        }
        
        .modal-content button[type="submit"]:hover, .modal-content button[type="button"]:hover {
        background-color: #0a58bf;
        }
        
        .tr:nth-child(even) {
        background-color: #f2f2f2;
        }
  