.homeOne,
.homeTwo {
  display: flex;
  justify-content: space-around;
  margin: 5%;
}

.home h1 {
  color: #163951;
  margin-right: 100px;
}

/* Chart CSS*/
.chartContainer {
  width: 600px;
  height: 50vh;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* classProgress CSS */
.classProgressRow {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 70%;
  border: 0.5px solid #d8dee2;
  margin: 1%;
  padding: 1%;
}

.classProgressOne {
  display: flex;
  flex-direction: column;
}

.classProgressContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid #d8dee2;
  width: 40%;
  max-height: 57vh;
  overflow: scroll;
}

/*Pie chart total*/
.pieChart {
  margin: auto;
}

.pieChartContainer {
  width: 50%;
}

/* Frequent absent students table*/
.absentStudentRow {
  display: flex;
  justify-content: space-between;
  margin-right: 1%;
  margin-left: 1%;
}
.absentStudentList {
  margin-top: 3vh;
}
.absentStudentElement {
  border: 1px solid #d8dee2;
  padding: 10px 10px;
  width: -webkit-fill-available;
}

.absentStudentList .edit-classes {
  margin: 10px;
  width: -webkit-fill-available;

}
.absentStudentButtonBorder {
  border: 1px solid #d8dee2;
}

/*Attendance table*/
.filterListByAlone {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.filterListBy {
  display: flex;
  justify-content: space-between;
  margin-right: 2%;
  margin-left: 2%;
}

.datePicker {
  border: 0;
  padding: 10px 10px;
  color: gray;
  align-self: center;
}

.react-datepicker__input-container {
  border: 0.5px solid #d8dee2;
  width:80%;

}

.attendanceTable h1,
h3 {
  color: #163951;
}

.attendanceTable h1 {
  margin-left: 2%;
}

.attendanceList {
  margin-top: 8vh;
}

.attendanceListRow,
.attendanceListHeader {
  display: flex;
  justify-content: space-around;
  color: #163951;
  margin-left: 2%;
  margin-right: 2%;
  text-align: start;
}
.attendanceListHeader {
  font-weight: 600;
}

.attendanceBorderWord {
  border: 1px solid #d8dee2;
  padding: 20px 20px;
  width: -webkit-fill-available;
}
