.studentsFilterHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#filterListBy {
  width: 30%;
  gap:10px;
  margin-right: 45px;
}

#attendanceList {
  margin-top: 2%;
}

#editView {
  display: flex;
  justify-content: center;
}

#deleteClasses {
  margin: 0;
}

#viewClasses {
  margin: 0;
}


#filterListByAlone{
    width: -webkit-fill-available;
}