.header {
    /* background-color: #eeefee; */
    height: 6.5vw;
    display: flex;
    border-bottom: 1px solid #D8DEE2;
    box-shadow: 0 0px 2px -2px #D8DEE2;
    margin-bottom: 10px;
}

.header h1 {
    padding-left: 20px;
    padding-top: 1vw;
    color: blue;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 15%;
    border-right: 1px solid #D8DEE2;

}

.sidebar-buttons {
    width: 100%;
    font-size: 1.2vw;
    margin-top: 20px;
    height: 100px;
    display: flex;
    align-items: center;

    gap: 15px;
}

#sidebar-buttons img{
    width: 2vw;
    height: 2vw;
}

.sidebar-buttons img {
    margin-left: 30px;
    width: 2.5vw;
    height: 2.5vw;

}

.sidebar-buttons p {
    margin-left: 10px;
}

.sidebar-buttons a {
    text-decoration: none;
    color: #163951;
}

.addadmins {
    display: flex;
    flex-direction: column;
    /* background-color: #eeefee94; */
    width: 100%;
    padding-top: 2vw;
    height: 35vw;




}

.label-Addadmins {
    font-size: 2vw;
    color: black;

    margin-left: 2vw;

}

.input-Addamis {
    height: 2vw;
    width: 40%;
    margin-left: 2vw;
    border: 1px solid blue;
}

.input-Classes {
    height: 2vw;
    width: 90%;
    margin-left: 2vw;
    border: 1px solid blue;
}

.cancel-classes {
    width: 15%;
    margin-top: 1vw;
    padding: 0.5vw;

    background-color: #eeefee94;
    border: none;
    color: #FF0000;
    font-size: 1vw;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #FF0000;
    text-decoration: none;
    text-align: center;


}

.buttons-classes {
    display: flex;
    flex-direction: row;
    justify-content: end;


}

.submit-classes {
    width: 15%;
    text-decoration: none;
    text-align: center;
    margin-top: 1vw;
    padding: 0.5vw;
    color: white;
    background-color: #0390CD;
    border-radius: 5px;
    border: none;
    font-size: 1vw;
    cursor: pointer;
    margin-left: 2%;
    margin-right: 2%;

}

.ordering {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
}

.logoo {
    height: 7vw;
    width: 8vw;
    margin: 0 auto;
}



.classespage {
    background-color: white;
    padding-top: 5vw;
    margin-left: 5%;
}











.table-classes {
    border-spacing: 0px 10px;

    width: 90%;


}

.table-classes td {
    border: 1px solid black;
    border-right: 2px solid #163951;
    padding: 0.5vw;
    border-top-right-radius: 5px;

    border-bottom-right-radius: 5px;
}

.table-classes th {
    padding-left: 5px;
    text-align: left;

    width: 30%;


}

.headetable {
    font-size: 1.5vw;
    color: #163951;

}

.table-info {
    font-size: 1.2vw;
    border-spacing: 0px;
    color: #163951;

}

.addclass-button {
    font-size: 1vw;
    background-color: #0390CD;
    float: right;
    border: none;
    color: white;
    padding: 0.5vw;
    width: 70%;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.delete-classes:enabled {
    background-color: white;
    color: #FF0000;
    border: 2px solid #FF0000;
    border-radius: 5px;
    font-size: 1vw;
    width: 30%;
    margin-left: 35%;
    padding: 0.5vw;

}
/* .delete-classes:disabled{
    background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3)) !important;
    color: -internal-light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3))!important;
    border-color: -internal-light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3))!important;
} */

.edit-classes {
    font-size: 1vw;
    color: white;
    border-radius: 5px;
    background-color: #0390CD;
    width: 30%;
    margin-left: 3%;
    text-decoration: none;

    padding: 0.5vw;



}

.addclasses-border {

    border: 4px solid #D8DEE2;
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 5vw;
    margin-left: 20%;
    margin-top: 5%;
}


.editclass-border {
    border: 4px solid #D8DEE2;
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 3vw;
    margin-left: 25%;
    margin-top: 0%;
    margin-bottom: 2vw;


}

.editsectionbesid-border {
    border: 4px solid #D8DEE2;
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 3vw;
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 2vw;
}

.equal-sides {
    width: 50%;

}

.tablo {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;

    overflow: auto;


}

.trr {

    border: 2px solid #D8DEE2;
}

.subjects {
    font-size: 1vw;

}

.addbutton {
    background-color: #0390CD;
    font-size: 1.2vw;
    float: right;
    border-radius: 5px;
    padding: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-right: 5%;
}

.addcourses {
    border: 4px solid #D8DEE2;
    display: flex;

    width: 40%;
    margin-bottom: 2vw;
    padding: 0vw;


}

.container-sectionn {
    display: flex;
    flex-direction: row;
    gap: 5%;

}

.edit-border {
    border-bottom: 3px solid #D8DEE2;
    width: 90%;
}

.editclassespage {
    background-color: white;
    padding-top: 2vw;
    margin-left: 5%;
}


.attendance-tick p{
    size: 15px;
    padding-right:7px;
    padding-left: 7px;
    padding-top: 0;
    padding-bottom: 0;

}
.attendanceEdit{
   display: flex;
   justify-content: space-evenly;

   
  }


.new-select{
    
    color:#163951;
   margin: auto;
    padding-right: 50px;
    border: 0;
    size: 25px;
    margin: 0;
}
